
  $social_width: 62px;
  $social_height: 58px;
  $social_margin: 12px;
  #contact_doggo {
  img#short_doggo { // size width: 380px height: 572px
    position: absolute;
  }
  img.speech { // 47px x 47px
    position: absolute;
  }
  #social_buttons {
    position: absolute;

    a.social {
      width: $social_width;
      height: $social_height;
      margin: $social_margin;
      font-family: 'Indie Flower';
      font-size: 42px;
      color: white;
      text-align: center;
      line-height: $social_height;
      border-radius: 9px;
      border: none;
      text-decoration: none;

      &#linkedin {
        background-color: $blue;
        &:active, &:hover {
          background-color: darken( $blue, 10% );
        }
      }
      &#email {
        background-color: $red;
        line-height: 74px;
        &:active, &:hover {
          background-color: darken( $red, 10% );
        }
        &:after {
          content: '⯈';
          position: absolute;
          display: block;
          color: $red;
          font-size: 24px;
          height: $social_width; //rotate seems to fuck with it
          width: 30px;
        }
      }
      &#github {
        background-color: $black;
        &:active, &:hover {
          background-color: lighten( $black, 20% );
        }
      }
      &#pdf {
        background-color: $teal;
        font-size: 34px;
        &:active, &:hover {
          background-color: darken( $teal, 10% );
        }
      }
    }
  }
  p {
    display: block;
    color: $black;
    font-size: 18px;
    width: 216px;
    position: absolute;
  }
}
@include for-desktop {
  #contact_doggo {
    position: absolute;
    top: 0;
    left: 0;
    width: 435px;
    height: 100%;

    img#short_doggo { // size width: 380px height: 572px
      top: -320px;
      left: -95px;
      transform: rotate(116deg);
    }
    img.speech { // 47px x 47px
      top: 225px;
      left: calc(#{$social_width} * 2 - 18px);
    }
    #social_buttons {
      left: calc(#{$social_width} - #{$social_margin});
      top: 275px;
      a.social {
        display: block;
        width: $social_width;
        height: $social_height;
        &#email:after {
          left: 64px;
          top: 78px;
        }
      }
    }
    p#email_printed {
      top: 357px; // 275px + 82
      left: 148px;
    }
  }
}
@include for-phone {
  #contact_doggo {
    position: relative;
    top: 0;
    left: 0;

    img#short_doggo { // size width: 380px height: 572px
      // something
      transform: scaleX(-1) rotate(32deg);
      top: -80px;
      left: 50vw;
    }
    img.speech { // 47px x 47px
      top: 200px;
      left: calc(50vw - 35px);
      transform: rotate(-30deg);
    }
    $all_socials_width: $social_width * 4 + $social_margin * 8;
    #social_buttons {
      left: calc(50vw - (#{$all_socials_width} / 2)); // 4*62 + 8*12 = 344 (width, margins)
      top: 275px;
      display: flex;
      a.social {
        display: inline-block;
        width: $social_width;
        height: $social_height;

        &#email:after {
          transform: rotate(90deg);
          top: 44px;
          left: 116px;
        }
      }
    }
    p#email_printed {
      left: calc(50vw - (#{$all_socials_width} / 2) + 22px);
      top: 348px; // 275px + 82
    }
  } 
}
