#contact_doggo {
  position: absolute;
  top: 0;
  left: 0;
  width: 435px;
  height: 100%;

  img#short_doggo { // size width: 380px height: 572px
    position: absolute;
    top: -300px;
    left: -95px;
    transform: rotate(116deg);
  }
  $social_width: 62px;
  $social_height: 58px;
  img.speech { // 47px x 47px
    position: absolute;
    top: 250px;
    left: calc(#{$social_width} * 2 - 18px);
  }
  #social_buttons {
    position: absolute;
    left: calc(#{$social_width} - 12px); // margin
    top: 300px; // 200px = height of all socials + middle margins divided by 2

    a.social {
      width: $social_width;
      height: $social_height;
      margin: 12px;
      font-family: 'Indie Flower';
      font-size: 42px;
      color: white;
      text-align: center;
      line-height: $social_height;
      border-radius: 9px;
      border: none;
      display: block;
      text-decoration: none;

      &#linkedin {
        background-color: $blue;
        &:active, &:hover {
          background-color: darken( $blue, 10% );
        }
      }
      &#email {
        background-color: $red;
        line-height: 74px;
        &:active, &:hover {
          background-color: darken( $red, 10% );
        }
      }
      &#github {
        background-color: $black;
        &:active, &:hover {
          background-color: lighten( $black, 20% );
        }
      }
    }
  }
}