@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
#long_doggo p {
  font-size: inherit;
  margin: 0.75em 0 0.75em 20px;
}
#long_doggo p .pink {
  color: #EA1F80;
}
#long_doggo p .blue {
  color: #379AED;
}
#long_doggo p .teal {
  color: #1CD0A5;
}
#long_doggo p .red {
  color: #E50712;
}
#long_doggo p .orange {
  color: #FF9900;
}

#contact_doggo {
  position: absolute;
  top: 0;
  left: 0;
  width: 435px;
  height: 100%;
}
#contact_doggo img#short_doggo {
  position: absolute;
  top: -320px;
  left: -95px;
  transform: rotate(116deg);
}
#contact_doggo img.speech {
  position: absolute;
  top: 225px;
  left: calc(62px * 2 - 18px);
}
#contact_doggo #social_buttons {
  position: absolute;
  left: calc(62px - 12px);
  top: 275px;
}
#contact_doggo #social_buttons a.social {
  width: 62px;
  height: 58px;
  margin: 12px;
  font-family: "Indie Flower";
  font-size: 42px;
  color: white;
  text-align: center;
  line-height: 58px;
  border-radius: 9px;
  border: none;
  display: block;
  text-decoration: none;
}
#contact_doggo #social_buttons a.social#linkedin {
  background-color: #379AED;
}
#contact_doggo #social_buttons a.social#linkedin:active, #contact_doggo #social_buttons a.social#linkedin:hover {
  background-color: #1481dd;
}
#contact_doggo #social_buttons a.social#email {
  background-color: #E50712;
  line-height: 74px;
}
#contact_doggo #social_buttons a.social#email:active, #contact_doggo #social_buttons a.social#email:hover {
  background-color: #b4050e;
}
#contact_doggo #social_buttons a.social#github {
  background-color: #24292E;
}
#contact_doggo #social_buttons a.social#github:active, #contact_doggo #social_buttons a.social#github:hover {
  background-color: #515c67;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Indie Flower";
}

#long_doggo {
  position: relative;
  width: 100%;
  height: 100%;
}
#long_doggo .doggo {
  position: absolute;
  right: 50vw;
  top: 20vh;
}
#long_doggo:before {
  content: " ";
  display: block;
  width: 50vw;
  height: 100%;
  float: left;
  bottom: 0;
  shape-outside: polygon(0% 0%, 100% 0%, 100% calc(20vh + 155px), calc(50vw - 95px) calc(20vh + 155px), calc(calc(50vw - 95px) - calc((100vh - calc(20vh + 155px)) / 1.9324964493)) 100%, 0 100%);
}
#long_doggo div#personal_letter {
  padding-top: calc(20vh + 155px);
  margin: 0;
  display: block;
  padding-right: 10%;
  font-size: 32px;
}
#long_doggo div#speech_bubble {
  position: relative;
  left: 50vw;
  top: 20vh;
}
#long_doggo div#speech_bubble img {
  position: absolute;
  width: 30px;
  display: block;
  top: 96px;
  left: 10px;
  transform: rotate(-163deg);
}
#long_doggo div#speech_bubble p {
  position: absolute;
  left: 40px;
  top: 68px;
  margin-top: 0;
  font-size: 36px;
  transform: rotate(-15deg);
}

#hanging_doggo {
  position: absolute;
  content: url("/images/short_doggo.svg");
  top: -25px;
  right: -230px;
  transform: scaleX(-1) rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
