@use 'sass:math';
@import '_colors';
@import 'text';
@import 'contact';

@font-face {
  font-family: "Single Day Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Single Day Regular"), url("SingleDay-Regular.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html,
body {
  margin: 0;
  height: 100%;
}
body {
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Indie Flower';
}

#long_doggo {
  $top_distance: 20vh;
  position: relative;
  width: 100%;
  height: 100%;
  .doggo {
    position: absolute;
    right:50vw;
    top: $top_distance;
  }

  $doggo_head_height: 155px;
  $doggo_head_width: 95px;

  $dist_top_and_head: calc(#{$top_distance} + #{$doggo_head_height});
  $triangle_top_x: calc(50vw - #{$doggo_head_width});
  $triangle_bottom_width: calc((100vh - #{$dist_top_and_head}) / #{math.tan(62.64deg)});
  &:before {
    content: ' ';
    display: block;
    width: 50vw;
    height: 100%;
    float: left;
    bottom: 0;
    shape-outside: polygon(
      0% 0%,
      100% 0%,
      100% $dist_top_and_head,
      $triangle_top_x $dist_top_and_head,
      calc(#{$triangle_top_x} - #{$triangle_bottom_width}) 100%,
      0 100%
    );
  }
  div#personal_letter {
    padding-top: $dist_top_and_head;
    margin: 0;
    display: block;
    padding-right: 10%;
    font-size: 32px;
  }
  div#speech_bubble {
    position: relative;
    left: 50vw;
    top: #{$top_distance};
    img {
      position: absolute;
      width: 30px;
      display: block;
      top: 96px;
      left: 10px;
      // top: calc(#{$top_distance} + #{$doggo_head_height} / 2);
      transform: rotate(-163deg);
    }
    p {
      position: absolute;
      left: 40px;
      top: 68px;
      margin-top:0;
      font-size: 36px;
      transform: rotate(-15deg);
      // left: 500px;
      // top: 40px;
    }
  }
}

#hanging_doggo {
  position: absolute;
  content: url("/images/short_doggo.svg");
  top: -30px;
  right: -230px;
  transform: scaleX(-1) rotate(45deg);
}
