@charset "UTF-8";
@font-face {
  font-family: "Hanno Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Hanno Regular"), url("/stylesheets/Hanno_Regular.ttf") format("truetype");
}
body {
  font-family: "Hanno Regular";
}

#main_doggo p {
  font-size: inherit;
  margin: 0.75em 0 0.75em 20px;
}
#main_doggo p .pink {
  color: #ea1f80;
}
#main_doggo p .blue {
  color: #379aed;
}
#main_doggo p .teal {
  color: #1cd0a5;
}
#main_doggo p .red {
  color: #e50712;
}
#main_doggo p .orange {
  color: #ff9900;
}

#contact_doggo img#short_doggo {
  position: absolute;
}
#contact_doggo img.speech {
  position: absolute;
}
#contact_doggo #social_buttons {
  position: absolute;
}
#contact_doggo #social_buttons a.social {
  width: 62px;
  height: 58px;
  margin: 12px;
  font-family: "Hanno Regular";
  font-size: 26px;
  color: white;
  text-align: center;
  line-height: 62px;
  border-radius: 9px;
  border: none;
  text-decoration: none;
}
#contact_doggo #social_buttons a.social#linkedin {
  background-color: #379aed;
}
#contact_doggo #social_buttons a.social#linkedin:active, #contact_doggo #social_buttons a.social#linkedin:hover {
  background-color: #1481dd;
}
#contact_doggo #social_buttons a.social#email {
  background-color: #e50712;
  font-size: 32px;
}
#contact_doggo #social_buttons a.social#email:active, #contact_doggo #social_buttons a.social#email:hover {
  background-color: #b4050e;
}
#contact_doggo #social_buttons a.social#email:after {
  content: "⯈";
  position: absolute;
  display: block;
  color: #e50712;
  font-size: 24px;
  height: 62px;
  width: 30px;
}
#contact_doggo #social_buttons a.social#github {
  background-color: #24292e;
}
#contact_doggo #social_buttons a.social#github:active, #contact_doggo #social_buttons a.social#github:hover {
  background-color: #515c67;
}
#contact_doggo #social_buttons a.social#pdf {
  background-color: #1cd0a5;
  font-size: 24px;
}
#contact_doggo #social_buttons a.social#pdf:active, #contact_doggo #social_buttons a.social#pdf:hover {
  background-color: #16a381;
}
#contact_doggo p {
  display: block;
  color: #24292e;
  font-size: 18px;
  width: 216px;
  position: absolute;
}

@media (min-width: 751px) and (min-height: 701px) {
  #contact_doggo {
    position: absolute;
    top: 0;
    left: 0;
    width: 435px;
    height: 100%;
  }
  #contact_doggo img#short_doggo {
    top: -320px;
    left: -95px;
    transform: rotate(116deg);
  }
  #contact_doggo img.speech {
    top: 225px;
    left: calc(62px * 2 - 18px);
  }
  #contact_doggo #social_buttons {
    left: calc(62px - 12px);
    top: 275px;
  }
  #contact_doggo #social_buttons a.social {
    display: block;
    width: 62px;
    height: 58px;
  }
  #contact_doggo #social_buttons a.social#email:after {
    left: 64px;
    top: 82px;
  }
  #contact_doggo p#email_printed {
    top: 357px;
    left: 148px;
  }
}
@media (max-width: 750px), (max-width: 2000px) and (max-height: 700px) {
  #contact_doggo {
    position: relative;
    top: 0;
    left: 0;
  }
  #contact_doggo img#short_doggo {
    transform: scaleX(-1) rotate(32deg);
    top: -80px;
    left: 50vw;
  }
  #contact_doggo img.speech {
    top: 200px;
    left: calc(50vw - 35px);
    transform: rotate(-30deg);
  }
  #contact_doggo #social_buttons {
    left: calc(50vw - 344px / 2);
    top: 275px;
    display: flex;
  }
  #contact_doggo #social_buttons a.social {
    display: inline-block;
    width: 62px;
    height: 58px;
  }
  #contact_doggo #social_buttons a.social#email:after {
    transform: rotate(90deg);
    top: 44px;
    left: 116px;
  }
  #contact_doggo p#email_printed {
    left: calc(50vw - 344px / 2 + 22px);
    top: 348px;
  }
}
html,
body {
  margin: 0;
  height: 100%;
}

@media (min-width: 751px) and (min-height: 701px) {
  body {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    position: fixed;
  }
  #main_doggo:before {
    content: " ";
    display: block;
    width: calc(100vw - 50vw);
    height: 100%;
    float: left;
    bottom: 0;
    shape-outside: polygon(0% 0%, 100% 0%, 100% calc(20vh + 155px), calc(calc(100vw - 50vw) - 95px) calc(20vh + 155px), calc(calc(calc(100vw - 50vw) - 95px) - calc((100vh - calc(20vh + 155px)) / 1.9324964493)) 100%, 0 100%);
  }
  #main_doggo {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #main_doggo .long_doggo {
    position: absolute;
    content: url("/images/doggo.svg");
    right: 50vw;
    top: 20vh;
    pointer-events: none;
  }
  #main_doggo div#personal_letter {
    padding-top: calc(20vh + 155px);
    margin: 0;
    display: block;
    padding-right: 10%;
    font-size: 24px;
  }
  #main_doggo div#speech_bubble {
    position: relative;
    left: 50vw;
    top: 20vh;
  }
  #main_doggo div#speech_bubble img {
    position: absolute;
    width: 30px;
    display: block;
    top: 96px;
    left: 10px;
    transform: rotate(-163deg);
  }
  #main_doggo div#speech_bubble p {
    position: absolute;
    left: 40px;
    top: 68px;
    margin-top: 0;
    font-size: 36px;
    transform: rotate(-15deg);
  }
  #hanging_doggo {
    overflow: hidden;
    position: absolute;
    width: 300px;
    height: 375px;
    top: 0;
    right: 0;
  }
  #hanging_doggo img {
    position: absolute;
    top: -25px;
    right: -230px;
    transform: scaleX(-1) rotate(45deg);
  }
}
@media (max-width: 750px), (max-width: 2000px) and (max-height: 700px) {
  html,
  body {
    overflow-x: hidden;
  }
  #main_doggo:before {
    content: " ";
    display: block;
    width: calc(100vw - 50vw);
    height: 100vh;
    float: left;
    bottom: 0;
    shape-outside: polygon(0% 0%, 100% 0%, 100% calc(25px + 155px), calc(calc(100vw - 50vw) - 95px) calc(25px + 155px), calc(calc(calc(100vw - 50vw) - 95px) - calc((100vh - calc(25px + 155px)) / 1.9324964493)) 100%, 0 100%);
  }
  #main_doggo {
    position: relative;
    width: 100%;
  }
  #main_doggo .long_doggo {
    position: absolute;
    content: url("/images/short_doggo.svg");
    right: 50vw;
    top: 25px;
  }
  #main_doggo div#personal_letter {
    padding-top: calc(25px + 155px);
    margin: 0;
    display: block;
    padding-right: 10%;
    font-size: 24px;
  }
  #main_doggo div#speech_bubble {
    position: relative;
    left: calc(100vw - 50vw);
    top: 25px;
  }
  #main_doggo div#speech_bubble img {
    position: absolute;
    width: 30px;
    display: block;
    top: 96px;
    left: 10px;
    transform: rotate(-163deg);
  }
  #main_doggo div#speech_bubble p {
    position: absolute;
    left: 16px;
    top: 60px;
    margin-top: 0;
    font-size: 36px;
    transform: rotate(-15deg);
  }
  #hanging_doggo {
    display: none;
  }
}