@use "sass:math";
@import "_colors";
@import "_mixins";
@import "text";
@import "contact";
// @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
$doggo_head_height: 155px;
$doggo_head_width: 95px;

html,
body {
  margin: 0;
  height: 100%;
}

@include for-desktop {
  body {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    position: fixed;
  }
  $top_distance: 20vh;
  $right_offset: 50vw;
  $dist_top_and_head: calc(#{$top_distance} + #{$doggo_head_height});
  @include main-doggo-shape($top_distance, $right_offset);
  #main_doggo {
    position: relative;
    width: 100%;
    height: 100%;
    .long_doggo {
      position: absolute;
      content: url("/images/doggo.svg");
      right: #{$right_offset};
      top: $top_distance;
      pointer-events: none;
    }

    div#personal_letter {
      padding-top: $dist_top_and_head;
      margin: 0;
      display: block;
      padding-right: 10%;
      font-size: 20px;
    }
    div#speech_bubble {
      position: relative;
      left: $right_offset;
      top: $top_distance;
      img {
        position: absolute;
        width: 30px;
        display: block;
        top: 96px;
        left: 10px;
        transform: rotate(-163deg);
      }
      p {
        position: absolute;
        left: 40px;
        top: 68px;
        margin-top: 0;
        font-size: 36px;
        transform: rotate(-15deg);
      }
    }
  }

  #hanging_doggo {
    overflow: hidden;
    position: absolute;
    width: 300px; // measured by eye, sort of. Just don't want it covering the entire page
    height: 375px; // and the doggo should be same size always
    top: 0;
    right: 0;
    img {
      position: absolute;
      top: -25px;
      right: -230px;
      transform: scaleX(-1) rotate(45deg);
    }
  }
}

@include for-phone {
  html,
  body {
    overflow-x: hidden;
  }
  $top_distance: 25px;
  $right_offset: 50vw;
  $dist_top_and_head: calc(#{$top_distance} + #{$doggo_head_height});
  @include main-doggo-shape($top_distance, $right_offset, 100vh);
  #main_doggo {
    position: relative;
    width: 100%;
    .long_doggo {
      position: absolute;
      content: url("/images/short_doggo.svg");
      right: $right_offset;
      top: $top_distance;
    }

    div#personal_letter {
      padding-top: $dist_top_and_head;
      margin: 0;
      display: block;
      padding-right: 10%;
      font-size: 24px;
    }
    div#speech_bubble {
      position: relative;
      left: calc(100vw - #{$right_offset});
      top: #{$top_distance};
      img {
        position: absolute;
        width: 30px;
        display: block;
        top: 96px;
        left: 10px;
        transform: rotate(-163deg);
      }
      p {
        position: absolute;
        left: 16px;
        top: 60px;
        margin-top: 0;
        font-size: 36px;
        transform: rotate(-15deg);
      }
    }
  }
  #hanging_doggo {
    display: none;
  }
}
