
#long_doggo p {
  // font-family: "Single Day Regular";
  font-size: 32px;
  margin: 0;
  display: block;
  padding-right: 10%;

  .pink {
    color: $pink;
  }
  .blue {
    color: $blue;
  }
  .teal {
    color: $teal;
  }
  .red {
    color: $red;
  }
}
