@font-face {
  font-family: 'Hanno Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Hanno Regular'), url('/stylesheets/Hanno_Regular.ttf') format('truetype');
}

body {
  font-family: 'Hanno Regular';
}
#main_doggo p {
  font-size: inherit;
  margin: 0.75em 0 0.75em 20px;
  .pink {
    color: $pink;
  }
  .blue {
    color: $blue;
  }
  .teal {
    color: $teal;
  }
  .red {
    color: $red;
  }
  .orange {
    color: $orange;
  }
}
