@font-face {
  font-family: "Indie Flower";
  font-style: normal;
  font-weight: normal;
  src: local("Indie Flower Regular"), url("/stylesheets/IndieFlower-Regular.ttf") format("truetype");
}

body {
  font-family: 'Indie Flower';
}
#main_doggo p {
  font-size: inherit;
  margin: 0.75em 0 0.75em 20px;
  .pink {
    color: $pink;
  }
  .blue {
    color: $blue;
  }
  .teal {
    color: $teal;
  }
  .red {
    color: $red;
  }
  .orange {
    color: $orange;
  }
}
